<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="sideBySide">
  <h1 class="header">{{allData.name}}</h1>
  <img class="detailImage" src={{imageURL}}>
</div>
  <div id="columns">
    <div id="right">
      <caption>NAME of ANIMAL:</caption>
      <h2>{{name}}</h2>
      <caption>SPECIES:</caption>
      <h2>{{species}}</h2>
      <caption>HABITANT:</caption>
      <h2>{{habitat}}</h2>
      <!--<caption>MAIN CITY:</caption>
      <h2>Data</h2>-->
    </div>
    <div>
      <caption>AVERAGE WEIGHT:</caption>
      <h2>{{weight_kg}}</h2>
      <caption>AVERAGE HEIGHT:</caption>
      <h2>{{height_cm}}</h2>
      <caption>DESCRIPTION:</caption>
      <h2>{{description}}</h2>
      <!--<caption>MAIN CITY:</caption>
      <h2>Data</h2>-->
    </div>
  </div>
  <!--<h1>{{myDomain}}</h1>
  <img src={{flagIMG}}>-->
  <style>
    .sideBySide{
      display: flex;
      align-items: center;
      margin-top: 1rem;
      flex-wrap: wrap;
    }
    .header{
      color:aqua;
      font-weight: bold;
      background: linear-gradient(to left, red, orange);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 4rem;
      margin-right: 3rem;
      margin-left: 1rem;
    }
    .detailImage{
      width: auto;
      /*filter: sepia(10);*/
      object-fit: cover;
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
    #columns {
      display: flex;
      width: 50%;
    }
    #columns div{
      /*margin: 1rem;*/
    }
    #columns div h2{
      margin: 1rem;
      background: rgb(248, 145, 48);
      width: 12rem;
      border-radius: 6px;
      padding: 0.3rem;
    }
    @media only screen and (max-width: 700px){
      #columns {
        flex-direction: column;
      }
    }

  </style>
</ion-content>
